{% extends "parent.html" %}
{% load %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            {% for trainee in trainees %}
            <tr>
                <td>{{ trainee.id }}</td>
                <td>{{ trainee.name }}</td>
                <td>{{ trainee.email }}</td>
                <td>{{ trainee.phone }}</td>
                <td>{{ trainee.photo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}